@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat";
    margin: 0;
}

#root {
    position: relative;
    min-height: 100vh;
}

main {
    max-width: 1300px;
    margin: auto;
    padding: 40px;
    padding-bottom: 209px;
}

$color-primary: #ff6060;
$bg-collapse: #F6F6F673;


@media screen and (max-width:768px) {
   main {
    padding: 0px;
   }
}